<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658448425406-tdj0ulhnqh9uf51nu6fmmsa23gthocfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658448425406-tdj0ulhnqh9uf51nu6fmmsa23gthocfp</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ2TdtIAO5_WBlIVBDe_ksEHS8DnQmts0</string>
	<key>GCM_SENDER_ID</key>
	<string>658448425406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matheusxavier.Dictionary</string>
	<key>PROJECT_ID</key>
	<string>dictionary-313a4</string>
	<key>STORAGE_BUCKET</key>
	<string>dictionary-313a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658448425406:ios:a3f9549dc1674b1fb659ef</string>
</dict>
</plist>